* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Palette
    pink: #E953D1;
    Orange: #ffad5b;
    Blue: #4068DF;
    Cyan: #8EA7EF; 
*/

/* --- Navbar --- */

.bg-custom {
    background: linear-gradient(to right, #4068DF, white);

}


#navbarNavAltMarkup {
    justify-content: end;
}

