* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Palette
    white: #f1f3de;
    pink: #eb8f8f;
    red: #ec0101;
    dark red: #cd0a0a;
*/

/* --- Navbar --- */

.bg-custom {
    background-color: blueviolet;

}

body {
    
}

