* {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    text-align: justify;
}

/* Palette
    pink: #E953D1;
    Orange: #ffad5b;
    Blue: #4068DF;
    Cyan: #8EA7EF; 
*/

/* Bigger than 991px width */
body {
    background-image: url('background.png');
    background-repeat: no-repeat; 
    background-position: center 0px; 
    background-size: 1920px 1200px/*1920px 1200px*/;
}

div#pink-part {
    width: 9.7vmax;
    height: 100%;
    background-color: #E953D1;
    position: fixed;
    z-index: -1;
    text-indent: -9999px;
    margin-top: -66px;
}
html {
    scroll-behavior: smooth;
}

/* --- Navbar --- */

.bg-custom {
    background-color: #4068DF;
    background: linear-gradient(to right, #4068DF, white);

}

a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
a.navbar-brand:hover {
    padding: -7px;
    margin: -7px;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}

nav a.navbar-brand img {
    width: 50px;
    height: 50px;
}
nav a.navbar-brand img:hover {
    width: 64px;
    height: 64px;
    transition: all 100ms;
}

#navbarNavAltMarkup {
    justify-content: end; 
}

.navbar-toggler {
    border: none;
}

/* Transition animation */
/*nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

nav.bg-custom.transparent {
    background-color: #3f67deb3;
    background: linear-gradient(to right, hsla(225, 71%, 56%, 0.6), #ffffff5e);
}

nav.bg-custom.transparent a.nav-link {
    color: white;
}
nav.bg-custom.transparent a.nav-link:hover,
nav.bg-custom.transparent a.nav-link:active {
    color: #ffad5b;
}
nav.bg-custom.transparent a.nav-link.active {
    color: #ffad5b;
}*/

/* --- End of Navbar --- */


/* --- Content --- */

main {
    margin-top: 66px;
    margin-left: 40px;
    margin-right: 40px;
}

div.row div #intro,
div.row div #aboutUs,
div.row div #sanitation,
div.row div #education {
    border: 2px darkslategray solid;
    margin: 12px 0;
    padding: 45px;
    height: 510px;
}

h1, h2 {
    text-align: center;
    font-family: 'Comfortaa', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 47px;
    margin-top: 50px;
}
h2 {
    font-size: 27px;
}

/* Intro */
div#intro img {
    width: 80px;

}
#Icons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    height: 82px;
}
.leftIcons {
    transform: scaleX(-1);
}

div#intro p{
    margin-top: 35px;
    text-align: center;
}

/* About us */
div#aboutUs img {
    height: 250px;
    display: block;
    margin: 0 auto;
}
div#aboutUs div#description p {
    margin-left: 0;
}

/* Sanitation */
div#sanitation img {
    width: 80px;
}

div#sanitation,
div#education {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}

/* Education */
div#education small {
    margin-top: 14px;
    padding-bottom: 20px;
}


/* --- End of Content --- */



/* --- Footer --- */

footer {
    position: relative;
    background-color: #8ea7ef;
    color: darkslategray;
    width: 100%;
    height: 64px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    z-index: 16;
}

footer p small {
    display: block;
}
footer p small a {
    font-size: small;
    color: #ffad5b;
}
footer p small span#footerHide {
    font-size: small;
}

footer div#contactUs p{
    display: inline;
    margin-right: 10px;
}

footer div#socialLinks {
    display: inline;
}

footer div#socialLinks img {
    height: 40px;
    padding-right: 8px;
}

/* --- End of Footer --- */

/* --- Media queries --- */

@media only screen and (max-width: 991px) {

    /* Cambio de background por versión de teléfono */
    body {
        background-image: url('backgroud-phone.png');
        background-repeat: no-repeat; 
        background-position: 9.7vmax center;
        background-size: 91% 95%;
    }

    /* Navbar */
    div.navbar-nav {
        padding: 10px 20px;
    }

    /* Content */
    
    h1 {
        font-size: 40px;
        margin-top: 40px;
    }

    /* Intro Icons */
    div#intro img {
        width: 60px;
    }
    #Icons {
        height: 62px;
    }
    div#intro p{
        margin-top: 35px;
    }

    /* Carousel */
    div.row div div {
        height: 35vmin;
    }

    div#education h2#guitarTitle {
        margin-top: 25vmin;
    }
    div#education h2#singingTitle {
        margin-top: 4vmin;
    }
    div#education h2#violinTitle {
        text-shadow: 2px 2px 2px #000000;
        margin-top: 24vmin;
    }
    div#education h2#actingTitle {
        margin-top: 4vmin;
    }
}

@media only screen and (max-width: 599px) {

    * {
        text-align: start;
    }

    /* #intro */
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 25px;
    }

    /* #aboutUs */
    div#aboutUs div#description img {
        height: 180px;
    }
    div#aboutUs div#description p {
        margin-top: 14px;
    }

    /* #sanitation */
    div#sanitation p.contentFooter {
        padding-top: 20px;
    }

    /* Carousel */
    div#education h2#guitarTitle {
        margin-top: 20vmin;
        font-size: 22px;
    }
    div#education h2#singingTitle {
        font-size: 22px;
    }
    div#education h2#violinTitle {
        margin-top: 20vmin;
        font-size: 22px;
    }
    div#education h2#actingTitle {
        font-size: 22px;
    }

    /* footer */
    footer div#contactUs p,
    footer p small span#footerHide {
        display: none;
    }

}

@media only screen and (max-width: 443px) {
    
    /* #intro */
    div#intro p{
        margin-top: 54px;

    }
}

@media only screen and (min-width: 600px) {

    /* #aboutUs */
    div#aboutUs div#description {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    div#aboutUs div#description p {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1700px;
    }

    /* #aboutUs */
    div#aboutUs div#description {
        display: block
    }
    div#aboutUs div#description p {
        margin-top: 14px;
        margin-left: 0;
    }

    /* Carousel */
    div.row div div{
        height: 22vmax;
    }

    div.row div #intro,
    div.row div #aboutUs,
    div.row div #sanitation,
    div.row div #education {
        padding: 55px;
    }

    div#education h2#guitarTitle {
        margin-top: 16vmax;
    }
    div#education h2#singingTitle {
        margin-top: 3vmax;
    }
    div#education h2#violinTitle {
        text-shadow: 2px 2px 2px #000000;
        margin-top: 15vmax;
    }
    div#education h2#actingTitle {
        margin-top: 3vmax;
    }
}

@media only screen and (min-width: 1124px) {
    div.row div #intro,
    div.row div #aboutUs,
    div.row div #sanitation,
    div.row div #education {
        padding: 55px 6.5vmax 0;
    }
}

@media only screen and (min-width: 1381px) {

    /* #aboutUs */
    div#aboutUs div#description {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 300px;
    }
    div#aboutUs div#description p {
        margin-left: 20px;
    }
    div#aboutUs img {
        height: 200px;
        
    }
}


/* Optimización para dispositivos con muy alta resolución */
@media only screen and (min-width: 1921px) {

    /* #aboutUs */
    div#aboutUs div#description {
        display: block
    }
    div#aboutUs div#description p {
        margin-top: 14px;
        margin-left: 0;
    }
    
    /* Carousel */
    div.row div div{
        height: 400px;
    }
    div#education h2#guitarTitle {
        margin-top: 200px;
    }
    div#education h2#singingTitle {
        margin-top: 40px;
    }
    div#education h2#violinTitle {
        margin-top: 180px;
    }
    div#education h2#actingTitle {
        margin-top: 40px;
    }
}


/* --- End of Media queries --- */