* {
    font-family: Tahoma, Geneva, sans-serif;
}

/* Palette
    pink: #E953D1;
    Orange: #ffad5b;
    Blue: #4068DF;
    Cyan: #8EA7EF; 
*/

/* Bigger than 991px width */
body {
    background-image: url('background.png');
    background-repeat: no-repeat; 
    background-position: center 0px; 
    background-size: 1920px 1200px/*1920px 1200px*/;
}

div#pink-part {
    width: 9.7vmax;
    height: 100%;
    background-color: #E953D1;
    position: fixed;
    z-index: -1;
    text-indent: -9999px;
}

/* --- Navbar --- */
.bg-custom {
    background-color: #4068DF;
    background: linear-gradient(to right, #4068DF, white);

}

a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
a.navbar-brand:hover {
    padding: -7px;
    margin: -7px;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}

nav a.navbar-brand img {
    width: 50px;
    height: 50px;
}
nav a.navbar-brand img:hover {
    width: 64px;
    height: 64px;
    transition: all 100ms;
}

#navbarNavAltMarkup {
    justify-content: end; 
}

.navbar-toggler {
    border: none;
}

/* --- End of Navbar --- */


/* --- Content --- */
main {
    margin-top: 66px;
    margin-left: 40px;
    margin-right: 40px;
}

div.row div #intro,
div.row div #aboutUs,
div.row div #sanitation,
div.row div #education {
    border: 2px darkslategray solid;
    margin: 12px 0;
    padding: 20px;
    height: 510px;
}

h1, h2 {
    text-align: center;
}

/*@media only screen and (min-width: 1200px) {
    div.row div div{
        height: 29.2vmax;
    }
}
@media only screen and (min-width: 1500px) {
    div.row div div{
        height: 29.6vmax;
    }
}
@media only screen and (min-width: 1800px) {
    div.row div div{
        height: 29.8vmax;
    }
}*/

/* --- End of Content --- */

/* --- Footer --- */

footer {
    background-color: #8ea7ef;
    color: darkslategray;
    height: 64px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    
}

/* --- End of Footer --- */


/* --- Media queries --- */

@media only screen and (max-width: 991px) {

    /* Cambio de background por versión de teléfono */
    body {
        background-image: url('backgroud-phone.png');
        background-repeat: no-repeat; 
        background-position: 9.7vmax center;
        background-size: 91% 95%;
    }

    div.row div div{
        height: 35vmax;
    }
}
@media only screen and (max-width: 550px) {
    body {
        background-image: url('backgroud-phone.png');
        background-repeat: no-repeat; 
        background-position: 9.7vmax center;
        background-size: 91% 95%;
    }

    div.row div div{
        height: 70vmax;
    }
}

/* aumento de dimesiones para dispositivos con muy alta resolución */

@media only screen and (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1700px;
    }
}
@media only screen and (min-width: 1921px) {
    div.row div div{
        height: 29.8vmax;
    }
}


/* --- End of Media queries --- */